.idea
doc/.build/
build/
dist/
*.pyc
.vagrant/
casacore/*/_*.so
python_casacore.egg-info/
casacore.egg-info/
*~
*.bak
*.log
.coverage
.virtualenv/
.virtualenv3/
.venv*/
venv/
wheelhouse/
htmlcov
*.so
.vscode/
casacore/_version.py
