language: generic
sudo: required
dist: trusty
os:
  - linux
  - osx
before_install:
 - .travis/before_install.sh
install:
 - .travis/install.sh
script:
 - .travis/script.sh
deploy:
 provider: pypi
 user: gijzelaerr
 password:
  secure: cdrrma3XaFjtv4lHvag6dfhSbKBF8iLmVgPQEjXP8qa+WxHnkHObkyraYAFGqThDY/0lBdrBm7Og6l1JfAcSA2BjdPQYxujP8KEoVicPwlgwEJ5LZo4HqympWVk33APvbcYNw7K/CwEXNJCCD1tDiO4pdwkPAWuKlnYUVfZq2yI=
 on:
  tags: true
  repo: casacore/python-casacore
after_success:
  coveralls
notifications:
  webhooks:
   urls:
    - https://webhooks.gitter.im/e/08a570c12a3afa37d8e2
